<section id="wishes">
    <div class="container">
        <div class="card-holder">
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
            {{> section-single-item/card}}
        </div>
 <div class="row">
        <div class="col-12 more">
            <div class="bottomButton">
                <a href="#">Daha Cox</a>
            </div>
        </div>
    </div>
    </div>
</section>