<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="colmn">
                <div class="colImg">
                    <img src="src/static/assets/image 77.jpg" alt="">
                </div>
                <div class="colTitle">
                    <div class="titleCenter">
                        <div class="imgT">
                            <div class="titleImg">
                                <img src="src/static/assets/image 9.jpg" alt="">
                            </div>
                        </div>

                        <h5>Arif Əliyev</h5>
                        <p>Tədbir Adı</p>
                    </div>
                </div>
                <div class="colBottom">
                    <div class="bLeft">
                        <p>Lazim olan məbləğ</p>
                        <span>300AZN</span>
                    </div>
                    <div class="bRight">
                        <p>Toplanilan məbləğ</p>
                        <span>110 AZN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="colmn">
                <div class="colImg">
                    <img src="src/static/assets/image 77.jpg" alt="">
                </div>
                <div class="colTitle">
                    <div class="titleCenter">
                        <div class="imgT">
                            <div class="titleImg">
                                <img src="src/static/assets/image 10.jpg" alt="">
                            </div>
                        </div>
                        <h5>Yetər Həsənova</h5>
                        <p>Tədbir Adı</p>
                    </div>
                </div>
                <div class="colBottom">
                    <div class="bLeft">
                        <p>Lazim olan məbləğ</p>
                        <span>300AZN</span>
                    </div>
                    <div class="bRight">
                        <p>Toplanilan məbləğ</p>
                        <span>110 AZN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="colmn">
                <div class="colImg">
                    <img src="src/static/assets/image 77.jpg" alt="">
                </div>
                <div class="colTitle">
                    <div class="titleCenter">
                        <div class="imgT">
                            <div class="titleImg">
                                <img src="src/static/assets/image 51.jpg" alt="">
                            </div>
                        </div>

                        <h5>Bəsdi Haciyeva</h5>
                        <p>Tədbir Adı</p>
                    </div>
                </div>
                <div class="colBottom">
                    <div class="bLeft">
                        <p>Lazim olan məbləğ</p>
                        <span>300AZN</span>
                    </div>
                    <div class="bRight">
                        <p>Toplanilan məbləğ</p>
                        <span>110 AZN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="colmn">
                <div class="colImg">
                    <img src="src/static/assets/image 77.jpg" alt="">
                </div>
                <div class="colTitle">
                    <div class="titleCenter">
                        <div class="imgT">
                            <div class="titleImg">
                                <img src="src/static/assets/image 6.jpg" alt="">
                            </div>
                        </div>

                        <h5>Kifayət Həmzəyeva</h5>
                        <p>Tədbir Adı</p>
                    </div>
                </div>
                <div class="colBottom">
                    <div class="bLeft">
                        <p>Lazim olan məbləğ</p>
                        <span>300AZN</span>
                    </div>
                    <div class="bRight">
                        <p>Toplanilan məbləğ</p>
                        <span>110 AZN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 more">
            <div class="bottomButton">
                <a href="#">Daha Cox</a>
            </div>
        </div>
    </div>
</div>