<a href="#" class="card">
    <div class="cardImg">
        <img src="src/static/assets/image 36.png" alt="">
    </div>
    <div class="card-content">
        <div class="titleCenter">
            <div class="imgT">
                <img src="src/static/assets/image 10.jpg" alt="">
            </div>
            <div class="title">
                <h5>Yetər Həsənova</h5>
                <p>Tədbir Adı</p>
            </div>
        </div>
        <div class="cardFooter">
            <div class="amount">
                <p>Lazım olan məbləğ</p>
                <h4>300 azn</h4>
            </div>
            <div class="amount">
                <p>Toplanan məbləğ</p>
                <h4>110 azn</h4>
            </div>
        </div>
    </div>

</a>