<div class="wish-item">
    <h4>02.02.2020</h4>
    <div class="item-content">
        <p>Təqvim</p>
        <div class="svgImg">
            <svg xmlns="http://www.w3.org/2000/svg" width="61.108" height="50.189" viewBox="0 0 61.108 50.189">
                <g id="prefix__dollar" transform="translate(0 -45.744)">
                    <g id="prefix__Group_215" data-name="Group 215" transform="translate(0 69.305)">
                        <g id="prefix__Group_214" data-name="Group 214">
                            <path id="prefix__Path_2491"
                                d="M56.517 246.061a4.505 4.505 0 00-1.85.412A4.533 4.533 0 0049 245.206l-.063.035-1.876 1.113a4.529 4.529 0 00-5.572-1.148l-.075.042-7.183 4.4c-1.622-.479-3.423-1.005-5.164-1.5-1.836-.521-3.6-1.005-5.017-1.362-.709-.179-1.329-.326-1.835-.43-.254-.053-.479-.094-.679-.125a3.8 3.8 0 00-.563-.052 3.456 3.456 0 00-.421.031c-.529.07-1.282.231-2.169.439-1.813.426-4.128 1.046-5.407 1.394v-2.163a2.739 2.739 0 00-2.731-2.731H2.731A2.739 2.739 0 000 245.88v21.166a2.739 2.739 0 002.731 2.731h7.51a2.739 2.739 0 002.731-2.731V265.4c1.621.353 5.218 1.13 9.011 1.909 2.565.526 5.216 1.053 7.406 1.451 1.1.2 2.075.365 2.877.482a14.864 14.864 0 001.871.192 3.986 3.986 0 001.062-.17 14.7 14.7 0 002.343-.948 117.36 117.36 0 0011.7-7.114c4.174-2.786 8.079-5.538 9.992-6.856a4.455 4.455 0 001.871-3.7 4.594 4.594 0 00-4.588-4.585zm-45.593 20.985a.692.692 0 01-.683.683h-7.51a.692.692 0 01-.683-.683V245.88a.692.692 0 01.683-.683h7.51a.692.692 0 01.683.683zm47.152-14.384c-2.353 1.621-7.618 5.339-12.714 8.649-2.546 1.654-5.05 3.2-7.1 4.328a29.043 29.043 0 01-2.672 1.32 8.475 8.475 0 01-.938.336 2.157 2.157 0 01-.511.094 13.671 13.671 0 01-1.574-.17c-2.69-.394-7.725-1.4-12.061-2.3-2.17-.453-4.168-.88-5.625-1.194-.846-.182-1.5-.325-1.906-.413v-13.143l.777-.212c1.08-.293 2.727-.732 4.2-1.1.738-.182 1.435-.345 1.989-.46.276-.057.517-.1.7-.132a2.815 2.815 0 01.324-.039 2.489 2.489 0 01.257.029c.565.085 1.724.356 3.135.725 4.253 1.111 10.959 3.119 13.668 3.942a6.12 6.12 0 012.343 1.226 2.722 2.722 0 01.632.832 2.337 2.337 0 01.227 1.02 2.9 2.9 0 01-2.875 2.9l-2.643-.259-9.02-1.158a1.024 1.024 0 10-.262 2.032l9.049 1.161 2.8.274h.05a4.949 4.949 0 004.949-4.95 4.392 4.392 0 00-.421-1.9 5.143 5.143 0 00-1.8-2.016 8.957 8.957 0 00-2.431-1.122c-.475-.144-1.074-.326-1.758-.531l5.558-3.4a2.469 2.469 0 012.832.393l-2.746 1.628a1.024 1.024 0 001.046 1.762l6.374-3.78a2.473 2.473 0 012.928.48l-7.422 4.4a1.024 1.024 0 001.046 1.761l8.026-4.76a.975.975 0 00.634-.376l.251-.149a2.5 2.5 0 011.125-.281 2.544 2.544 0 012.542 2.543 2.427 2.427 0 01-.983 2.009z"
                                class="prefix__cls-1" data-name="Path 2491" transform="translate(0 -243.149)" />
                        </g>
                    </g>
                    <g id="prefix__Group_217" data-name="Group 217" transform="translate(26.286 45.744)">
                        <g id="prefix__Group_216" data-name="Group 216">
                            <path id="prefix__Path_2492"
                                d="M230.965 57.4a9.118 9.118 0 00-2.975-1.315c-.141-.04-.279-.072-.419-.109v-6.247a4.749 4.749 0 012.229.845 2.538 2.538 0 01.752.914 2.682 2.682 0 01.249 1.166 1.024 1.024 0 102.048 0 4.728 4.728 0 00-.449-2.049 4.843 4.843 0 00-2.31-2.247 7.822 7.822 0 00-2.519-.69v-.9a1.024 1.024 0 00-2.048 0v.844a7.146 7.146 0 00-2 .427 5.058 5.058 0 00-2.533 2.027 4.891 4.891 0 00-.748 2.588 4.113 4.113 0 001.929 3.642 10.005 10.005 0 002.945 1.175l.4.1V64.3a4.184 4.184 0 01-2.273-.865 2.664 2.664 0 01-.958-2.109 1.024 1.024 0 10-2.048 0A4.729 4.729 0 00221.925 65a6.274 6.274 0 003.6 1.37v.89a1.024 1.024 0 102.048 0v-.93a7.344 7.344 0 003.168-.976 4.363 4.363 0 001.551-1.631 5.449 5.449 0 00-.021-4.853 4.539 4.539 0 00-1.306-1.47zm-5.444-1.948a7.208 7.208 0 01-2.381-.983 2.04 2.04 0 01-.618-.712 2.4 2.4 0 01-.231-1.107 2.824 2.824 0 01.8-1.957 3.178 3.178 0 011.165-.743 5.043 5.043 0 011.269-.283v5.785zm4.965 7.293a2.229 2.229 0 01-.574.682 3.872 3.872 0 01-1.5.684 7.282 7.282 0 01-.847.152V58.1a8.668 8.668 0 011.664.63 2.989 2.989 0 011.146.97 2.837 2.837 0 01.421 1.622 2.955 2.955 0 01-.31 1.427z"
                                class="prefix__cls-1" data-name="Path 2492" transform="translate(-220.242 -45.744)" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>